{
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }]
  ],

  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "targets": {
            "chrome": "55",
            "firefox": "56"
          }
        }],
        "react"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        ["transform-decorators-legacy"],
        ["transform-react-jsx", { "pragma": "h" }]
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "chrome": "55",
            "firefox": "56"
          }
        }],
        "react"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        ["transform-decorators-legacy"],
        ["transform-react-jsx", { "pragma": "h" }]
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "chrome": "55",
            "firefox": "56"
          }
        }],
        "react"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        ["transform-decorators-legacy"],
        ["transform-react-jsx", { "pragma": "h" }]
      ]
    }
  }
}
